<widget id="com.swapy97.p5jstest" version="1.0">
    <name>P5.js Test</name>
    <description>
        P5.js Test with PhoneGap for mobile devices.
    </description>
    <author email="niklas.gschaider@gschaider-systems.at">
        Niklas Gschaider
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
