<widget id="com.swapy97.sidebartest" version="1.0">
    <name>Sidebar Test</name>
    <description>
        Siderbar Test with PhoneGap for mobile devices.
    </description>
    <author email="niklas.gschaider@gschaider-systems.at">
        Niklas Gschaider
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
